<div class="container">
    <div class="row header">
        <div class="col-xs-6 text-left">
            <span class="txtPageHeader">Client Care Plans</span>
        </div>
        <div class="text-right col-xs-6">
            <b><span class="userName">{{clientName}}</span>&nbsp;|&nbsp;<a ng-click="logout()">Logout</a></b>
        </div>
    </div>
    <!-- Error msg -->
    <div class="row" ng-show="notUser">
        <div class="spacer1"></div><div class="spacer1"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                <span>{{messageTxt}}</span>
            </div>
        </div>
    </div>
    <!-- Error msg End-->

    <div class="pageBody" ng-hide="notUser">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-6 text-right">
                <input type="text" placeholder="Type to filter" class="input-form txtFillterClients" ng-model="searchText.PlanName" />
            </div>
        </div>
        <div class="spacer1"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dvClientsContainer">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 filterable" ng-repeat="plan in plans | filter:searchText as filteredArray">
                    <div class="dvCliensData" ng-click="openPlanModal(plan._id)">
                        <div><img src="images/plan1.png" /></div>
                        <div class="clientName"><span>{{plan.PlanName}}</span></div>
                    </div>
                </div>
            </div>
            <div ng-show="filteredArray.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>No Data Found</h3>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="col-xs-6 text-left">
            <h6>© 2016 – 2017</h6>
        </div>
        <div class="col-xs-6 text-right">
            <img src="images/logo2.png" />
        </div>
    </div>

    <div class="modal fade detailsModal" tabindex="-1" role="dialog" aria-hidden="true" my-modal>
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="closeIcon" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Client care plans
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h3 class="text-capitalize">{{currentPlan.PlanName}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <span>{{currentPlan.ByWhen1| date:'MMM dd, yyyy'}}</span>
                            </div>
                        </div>
                        <div class="spacer3"></div>

                        <div ng-show="showDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class=" dvPlanContainer">

                                        <div class="row dvPlanItem">
                                            <div class="col-xs-12">
                                                <b>Goal</b>
                                            </div>
                                            <div class="col-xs-11 col-xs-offset-1">
                                                <span>{{currentPlan.ToImprove}}</span>
                                            </div>
                                        </div>
                                        <div class="row dvPlanItem">
                                            <div class="col-xs-12">
                                                <b>Carer's Objective</b>
                                            </div>
                                            <div class="col-xs-11 col-xs-offset-1">
                                                <span>{{currentPlan.ToAchieve1}} - {{currentPlan.ToAchieve2}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="spacer3"></div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button ng-click="showDetails = !showDetails" class="btn btn-primary">Enter Progress Notes</button>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="showDetails">
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    <h3>Enter Progress Notes</h3>
                                </div>
                            </div>
                            <div class="row" ng-show="addNotes">
                                <div class="col-xs-12 text-center">
                                    <textarea class="form-control" rows="3" ng-model="txtNote"></textarea>
                                    <div class="spacer3"></div>
                                    <button ng-click="addProgressNote()" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                            <div class="spacer1"></div>
                            <div class="row">
                                <div class="col-xs-12 prgrsDvLbl" style="color:#999;font-size:12px">How is it going?</div>
                                <div class="col-md-12 col-sm-12 col-xs-12 prgrsDv" ng-click="addNotes = true">
                                    <div class="row" ng-repeat="note in currentPlan.Progress">
                                        <span class="col-xs-7 col-sm-8 col-md-10 blueFont">{{note.Text}}</span>
                                        <span style="font-size: 10px;" class="col-xs-5 col-sm-4 col-md-2 text-muted text-right">{{note.Provider}} - {{note.Date| date:'MMM dd, yyyy'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer2"></div>
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <button ng-click="showDetails = !showDetails" class="btn btn-default">Cancel</button>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <button ng-click="save()" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="spacer3"></div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div ng-class="{'alert-success' : messageStatus2 == 'success' ,'alert-danger' : messageStatus2 == 'danger' ,'alert-warning' : messageStatus2 == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage2 == true" id="dvMSG" role="alert">
                                    <span>{{messageTxt2}}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    
</div>
