body {
    height: 100vh;
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000, rgba(8, 8, 8, 0.79)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, rgba(8, 8, 8, 0.79)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, rgba(8, 8, 8, 0.79)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, rgba(8, 8, 8, 0.79)); /* Standard syntax */
    font-family: sans-serif;
    color: #ffffff;
    font-size: 14px !important;
}

/*animation*/
.ng-enter:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-enter-active:not(.animated) {
    opacity: 1;
}

.ng-leave:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-leave-active:not(.animated) {
    opacity: 0;
    transform: translate3d(0, 0, 0);
}

/*Loader*/
.loaderContainer{
    position:absolute;
    background-color: #000;
    opacity: 0.7;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:9999;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff0000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.9s linear infinite;
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*modal*/
.showMe {
    display: block;
    opacity: 1;
    top: 100px;
    overflow: visible;
}

.hide {
    display: none;
}

/*scroll*/
::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px; /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #777; /*bar color*/
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #ccc; /*background color*/
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
/*date Picker*/
.datetimepicker {
    background: #fff;
    color: #000;
    width: 250px !important;
    height: 280px !important;
}

#loginContainer {
    margin-top: 20%;
}

.glyphicon {
    cursor: pointer;
}

.tblWhite td {
    color: #fff;
}

.noPaddingLeft {
    padding-left: 0px;
}

.hrItem {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: pointer;
}

    .hrItem span {
        font-size: 24px;
        line-height: 200%;
    }

    .hrItem img {
        max-height: 100px;
        max-width: 50px;
    }

.listIcon {
    font-size: 30px;
    line-height: initial;
}

.greenFont {
    color: #009900;
}

.errorFont {
    color: red !important;
}

.errorBorder {
    border-bottom: 2px solid red !important;
}

.redFont {
    color: #ee1111;
}

.fontNormal {
    font-weight: normal;
    padding-right: 5px;
    text-transform: capitalize;
}

.clear {
    float: left;
    width: 100%;
    height: 30px;
}

.clear2 {
    float: left;
    width: 100%;
    height: 15px;
}

.noPaddingRight {
    padding-right: 0;
}

.noPaddingLeft {
    padding-left: 0;
}

.whiteBackground {
    background-color: #ffffff;
    color: #336699;
}

.blackBg {
    background-color: #000;
}

.hideMe {
    display: none;
}

.darkInput {
    border-bottom-color: #666 !important;
    color: #333 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red !important inset;
}

.close {
    color: #f00;
    font-size: 36px;
}

/*input effect*/
.group {
    position: relative;
}

label:not(.checkboxLabel) {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input:not(#txtSMS):not(#txtSMSnotifications):not(.switchChbx):not([type="checkbox"]) {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    display: inline-block;
    width: 100%;
    height: 38px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

input:valid, textarea:valid {
    border-bottom: 1px solid #4fc24f;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    top: 1px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: red;
        transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

input:valid ~ .bar:before, input:valid ~ .bar:after,
textarea:valid ~ .bar:before, textarea:valid ~ .bar:after {
    background: #4fc24f !important;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    opacity: 0.5;
}

/* active state -------------------------------------------- */
input:focus ~ label, input.used ~ label, .Zebra_DatePicker_Icon_Wrapper ~ label,
select:focus ~ label, select.used ~ label, textarea:focus ~ label, textarea.used ~ label {
    top: -20px;
    font-size: 14px;
    color: red;
}

input:valid ~ label, input:valid.used ~ label,
textarea:valid ~ label, textarea:valid.used ~ label,
select:valid.used ~ label {
    color: #4fc24f;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
    width: 50%;
}

input:focus ~ .bar:after,
textarea:focus ~ .bar:after {
    width: 50%;
}

input:focus ~ .highlight,
textarea:focus ~ .highlight,
select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
}

input:valid ~ .hightlight,
textarea:valid ~ .hightlight,
select:valid ~ .hightlight {
    -webkit-animation: validHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: red;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-webkit-keyframes validHighlighter {
    from {
        background: #4fc24f !important;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*input effect*/

.input-form {
    display: inline-block;
    width: 100%;
    height: 38px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

    .input-form:focus, .input-form:active {
        border-bottom-width: 1px;
        border-bottom-color: red;
        border-style: none none solid;
        outline: none;
    }

    .input-form.select {
        background-image: -webkit-linear-gradient(transparent, transparent) !important;
        background-image: linear-gradient(transparent, transparent) !important;
        outline: none;
    }

        .input-form.select option:first-child {
            color: #ccc !important;
        }

option {
    background-color: black;
}

.btn-invert {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff !important;
    padding-left: 20px;
    padding-right: 20px;
}

    .btn-invert.active, .btn-invert:active,
    .btn-invert.active.focus, .btn-invert.active:focus, .btn-invert.focus, .btn-invert:active.focus, .btn-invert:active:focus, .btn-invert:focus {
        color: #fff;
    }

.btn-dismiss {
    background-color: transparent;
    border: 2px solid #aaa;
    color: #aaa !important;
    padding-left: 20px;
    padding-right: 20px;
}

    .btn-dismiss.active, .btn-dismiss:active,
    .btn-dismiss.active.focus, .btn-dismiss.active:focus, .btn-dismiss.focus, .btn-dismiss:active.focus, .btn-dismiss:active:focus, .btn-dismiss:focus {
        color: #aaa;
    }

/*Menu*/
.spmenu {
    background: #000;
    border: 0;
    max-width: 250px;
    top: 40px;
    -moz-box-shadow: -20px 0px 30px #fff !important;
    -webkit-box-shadow: -20px 0px 30px white !important;
    box-shadow: -20px 0px 30px white !important;
}


    .spmenu .sidebar-nav {
        list-style: none;
        /*padding-left: 10px;*/
    }

        .spmenu .sidebar-nav .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            list-style-type: none;
        }

            .spmenu .sidebar-nav .sidebar-brand .txtMenuItem {
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                margin-top: 20px;
            }

            .spmenu .sidebar-nav .sidebar-brand .imgMenuItem {
                border-radius: 50%;
                max-width: 50px;
                max-height: 50px;
            }

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    color: #000;
    height: 40px;
    border-bottom: 1px solid #a9a9a9;
    -webkit-box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
    box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
}

.pageHeader {
    font-size: 16px;
    position: absolute;
    line-height: 2.3;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 5px;
}

    .pageHeader img {
        max-width: 25px !important;
        display: inline;
        width: 100%;
        max-height: 25px;
    }


.pageBody {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2px !important;
}


.modal .modal-title {
    color: #337ab7 !important;
}

.rightHeader {
    line-height: 3;
    text-align: right;
    font-size: 12px;
}

    .rightHeader a, a:hover, a:active, a:focus {
        text-decoration: none;
        color: #000 !important;
    }

.logo {
    width: 40px !important;
    float: left;
    padding: 2px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 2px solid red;
    color: #FFF;
    min-height: 45px;
    background: url(../images/backgound.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 9999;
}

.footer2 {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    color: #FFF;
    min-height: 45px;
    background: url(../images/backgound.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer h6 {
    font-weight: normal;
    line-height: initial;
}

.footer img {
    height: 30px !important;
    width: auto !important;
    margin: 1%;
}

label.error {
    color: red;
}

.cursorPointer {
    cursor: pointer;
}

.fontBlack {
    color: black !important;
}

canvas {
    height: auto !important;
    width: 75% !important;
    margin: 0 auto !important;
}

/******************************************************************************
********************************* pageClients *********************************
*******************************************************************************
*******************************************************************************/
.pageClients .dvClientsContainer {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.pageClients .filterable {
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.pageClients .dvCliensData {
    margin-bottom: 18%;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 20%;
    text-align: center;
    height: 97px;
    max-height: 97px;
    margin-bottom: 50px;
    width: auto !important;
    padding: 4px;
    max-width: 100px;
}

    .pageClients .dvCliensData img {
        width: 100% !important;
        max-width: 85px;
        height: 85px;
        width: 85px;
        max-height: 85px;
        border-radius: 15%;
        margin-bottom: 5px;
    }

.pageClients .clientName {
    font-size: 14px;
    font-weight: bold;
    white-space: pre-line;
    overflow: visible;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    margin-top: 2px;
}

    .pageClients .clientName span {
        padding: 1px;
        font-weight: normal;
    }

.pageClients #dvNoResult h1 {
    font-size: 30px;
    color: #fff;
}


.pageClients .dvSearchClient {
    display: flex;
}

.pageClients .pageTitle {
    font-size: 30px;
    color: #fff;
}

    .pageClients .pageTitle a {
        color: #fff;
    }

        .pageClients .pageTitle a span {
            top: 5px;
        }

            .pageClients .pageTitle a span:hover {
                color: white;
            }

/******************************************************************************
********************************* pageClient **********************************
*******************************************************************************
*******************************************************************************/
.pageClient .imgClient img {
    border: 2px solid #eee;
    max-height: 170px;
    max-width: 170px;
    width: 100% !important;
    border-radius: 25px;
}

/******************************************************************************
********************************* pageListOrganizations ***********************
*******************************************************************************
*******************************************************************************/
.pageListOrganizations .pageTitle {
    font-size: 30px;
    color: #fff;
}

    .pageListOrganizations .pageTitle a, .pageListOrganizations .pageTitle a:active, .pageListOrganizations .pageTitle a:focus, .pageListOrganizations .pageTitle a:hover {
        color: #fff !important;
    }

        .pageListOrganizations .pageTitle a span {
            top: 5px;
        }

.pageListOrganizations thead th {
    background-color: #7f8c8d;
    color: #fff;
}

.pageListOrganizations td {
    color: #fff;
}

.pageListOrganizations .tableicon {
    color: #fff;
}

.pageListOrganizations .glyphicon-edit {
    float: right;
    color: #fff;
}

    .pageListOrganizations .glyphicon-edit:hover, .pageListOrganizations .glyphicon-edit:visited,
    .pageListOrganizations .glyphicon-edit:active, .pageListOrganizations .glyphicon-edit:focus {
        color: #fff;
    }

.pageListOrganizations table img {
    max-width: 30px;
}

.pageListOrganizations thead th {
    background-color: #bdc3c7;
    color: #fff;
}

/******************************************************************************
********************************* pageOrganization ****************************
*******************************************************************************
*******************************************************************************/

.pageOrganization #txtSMS {
    width: auto;
}

.pageOrganization #spanSMS {
    line-height: 1;
    color: #999;
    font-size: 18px;
}

.pageOrganization .spnAddRow {
    font-size: 20px;
}

    .pageOrganization table input {
        border: 0px !important;
    }

.pageOrganization thead th {
    background-color: #7f8c8d;
    color: #fff;
}

.pageOrganization td {
    color: #fff;
}

.pageOrganization .tableicon {
    color: #fff;
}

.pageOrganization .glyphicon-trash {
    margin-top: 12px;
    color: #fff;
}

    .pageOrganization .glyphicon-trash:hover, .pageOrganization .glyphicon-trash:visited,
    .pageOrganization .glyphicon-trash:active, .pageOrganization .glyphicon-trash:focus {
        color: #fff;
    }

/******************************************************************************
********************************* pageCarePlans *******************************
*******************************************************************************
*******************************************************************************/

.pageCarePlans table img {
    max-width: 30px;
}

.pageCarePlans thead th {
    background-color: #bdc3c7;
    color: #fff;
}

.pageCarePlans tbody a, .pageCarePlans tbody a:focus {
    color: #fff !important;
}

.pageCarePlans .tblWhite tr {
    cursor: pointer;
}

.pageCarePlans .linkCarePlans a {
    text-decoration: underline;
}


/******************************************************************************
******************************* pageHealthRrecords ****************************
*******************************************************************************
*******************************************************************************/
.pageHealthRrecords .nav-tabs > li.active > a,
.pageHealthRrecords  .nav-tabs > li.active > a:focus,
.pageHealthRrecords  .nav-tabs > li.active > a:hover{
        box-shadow: 0px -1px 3px #fbfbfb;
}
.pageHealthRrecords .customHeader1 {
    position: absolute !important;
    top: 40px;
    width: 101%;
    right: 0;
    left: 0;
    background: #000;
    padding: 10px;
    z-index: 999;
    padding-bottom: 0;
}

.pageHealthRrecords #clientLink {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
}

    .pageHealthRrecords #clientLink span {
        color: #fff;
        font-size: 30px;
    }

.pageHealthRrecords h4 {
    color: #9E9E9E;
}

.pageHealthRrecords li a {
    color: #fff;
}

.pageHealthRrecords .panel {
    border-radius: 0px;
}



.pageHealthRrecords .outerOptoins li {
    min-width: calc(100% / 6);
}

.pageHealthRrecords .outerOptoins .outerTab1 a,
.pageHealthRrecords .innerOptions .outerTab1 a:focus,
.pageHealthRrecords .innerOptions .outerTab1 a:hover {
    background-color: #3498db !important;
    color: #fff !important;
    text-align: center;
}

.pageHealthRrecords .outerOptoins .outerTab2 a,
.pageHealthRrecords .innerOptions .outerTab2 a:focus,
.pageHealthRrecords .innerOptions .outerTab2 a:hover {
    background-color: #e67e22 !important;
    color: #fff !important;
    text-align: center;
}

.pageHealthRrecords .outerOptoins .outerTab3 a,
.pageHealthRrecords .innerOptions .outerTab3 a:focus,
.pageHealthRrecords .innerOptions .outerTab3 a:hover {
    background-color: #2ecc71 !important;
    color: #fff !important;
    text-align: center;
}

.pageHealthRrecords .outerOptoins .outerTab4 a,
.pageHealthRrecords .innerOptions .outerTab4 a:focus,
.pageHealthRrecords .innerOptions .outerTab4 a:hover {
    background-color: #2980b9 !important;
    color: #fff !important;
    text-align: center;
}

.pageHealthRrecords .outerOptoins .outerTab5 a,
.pageHealthRrecords .innerOptions .outerTab5 a:focus,
.pageHealthRrecords .innerOptions .outerTab5 a:hover {
    background-color: #795548 !important;
    color: #fff !important;
    text-align: center;
}

.pageHealthRrecords .outerOptoins {
    border-bottom-color: black;
}

.pageHealthRrecords .innerOptions {
    background-color: #000 !important;
    border-bottom-color: black;
    margin-bottom: 0px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 999;
    height: 56px;
}

.pageHealthRrecords .innerOptions .panel-heading {
    border: 1px solid #e67e22;
    padding: 5px !important;
    right: 23px;
    left: 23px;
    top: -1px;
    border-radius: 0;
    position: absolute;
    background: #e67e22;
}
    .pageHealthRrecords .innerOptions ul {
        border-bottom: 0px !important;
    }

    .pageHealthRrecords .innerOptions li {
        margin-bottom: -1px;
        width: calc(100% / 7);
        padding: 5px;
        text-align: center;
    }

        .pageHealthRrecords .innerOptions li a,
        .pageHealthRrecords .innerOptions li a:focus,
        .pageHealthRrecords .innerOptions li a:hover {
            background-color: transparent;
            color: #fff !important;
            padding: 5px;
            font-size: 13px !important;
            margin-bottom: 5px;
        }

        .pageHealthRrecords .innerOptions li.active a,
        .pageHealthRrecords .innerOptions li.active a:focus,
        .pageHealthRrecords .innerOptions li.active a:hover {
            background-color: #fff !important;
            color: #000 !important;
            border: 0px !important;
        }

.pageHealthRrecords .innerOptionsMeasurments {
    background-color: #000 !important;
    border-bottom-color: black;
    margin-bottom: 0px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 999;
    height: 56px;
}

.pageHealthRrecords .innerOptionsMeasurments .panel-heading {
    border: 1px solid #3498db;
    padding: 5px !important;
    right: 23px;
    left: 23px;
    top: -1px;
    border-radius: 0;
    position: absolute;
    background: #3498db;
}

    .pageHealthRrecords .innerOptionsMeasurments ul {
        border-bottom: 0px !important;
    }

    .pageHealthRrecords .innerOptionsMeasurments li {
        margin-bottom: -1px;
        width: calc(100% / 6);
        padding: 5px;
        text-align: center;
    }

        .pageHealthRrecords .innerOptionsMeasurments li.col-xs-1.active {
            background-color: #fff !important;
            color: #000 !important;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

        .pageHealthRrecords .innerOptionsMeasurments li a,
        .pageHealthRrecords .innerOptionsMeasurments li a:focus,
        .pageHealthRrecords .innerOptionsMeasurments li a:hover {
            background-color: transparent;
            color: #fff !important;
            padding: 5px;
            font-size: 13px !important;
            margin-bottom: 5px;
        }

        .pageHealthRrecords .innerOptionsMeasurments li.active a,
        .pageHealthRrecords .innerOptionsMeasurments li.active a:focus,
        .pageHealthRrecords .innerOptionsMeasurments li.active a:hover {
            background-color: #fff !important;
            color: #000 !important;
            border:0 !important;
        }

.innerSingleTab {
    position: absolute;
    top: 98px; /*92px default*/
    height: calc(100vh - 40px - 52px - 59px - 45px);
    width: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.innerSingleTabNoTabs {
    position: absolute;
    top: 40px;
    height: calc(100vh - 40px - 52px - 45px);
    left: 15px;
    right: 15px;
    overflow-y: auto;
}

.pageHealthRrecords .adjustNewButton {
    margin-right: 10px;
    position: fixed;
    top: 84vh;
    right: 20px;
    text-transform: capitalize;
    z-index: 999999;
    border-radius: 50%;
    padding: 7px 13px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 26px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    opacity: 0.7;
}

.pageHealthRrecords .tblWhite th {
    color: #000;
    background-color: #fff;
}

.pageHealthRrecords .table-responsive {
    width: 100%;
    margin-bottom: 70px;
}

    .pageHealthRrecords .table-responsive > .table-bordered {
        max-height: 60vh;
    }

/******************************************************************************
******************************* Care Plans ****************************
*******************************************************************************
*******************************************************************************/
.dvCarePalans .dvPersonalData {
    position: absolute !important;
    top: 40px;
    right: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 5px;
    padding-right: 40px;
    padding-left: 20px;
    z-index: 999;
}

    .dvCarePalans .dvPersonalData .mainBar h5 {
        color: #999;
        font-size: 13px;
        font-weight: bold;
    }

    .dvCarePalans .dvPersonalData .mainBar h6 {
        color: #fff;
        font-family: "century gothic";
    }

    .dvCarePalans .dvPersonalData .subBar {
        padding-right: 0;
        padding-left: 0;
    }

.dvCarePalans .pageBody {
    background-color: #fff;
    top: 132px;
    position: absolute;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.dvCarePalans .customFooter {
    position: fixed !important;
    bottom: 45px;
    right: 0;
    left: 0;
    background: #000;
    padding: 7px;
}

.dvCarePalans .customHeader2 {
    width: 100%;
    position: absolute !important;
    top: 0;
    background: #fff;
    z-index: 999;
}

.dvCarePalans li a {
    color: #555 !important;
}

.dvCarePalans li.active a {
    background-color: #ddd !important;
}

.dvCarePalans .newPlanLi {
    padding: 6px;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


    .dvCarePalans .newPlanLi a {
        background-color: #ccc !important;
    }

.dvCarePalans .pageCustomMargin {
    margin: 0;
    margin-top: 42px;
    width: 100%;
    background: #fff;
    color: #555;
}

    .dvCarePalans .pageCustomMargin input {
        color: #555 !important;
    }

    .dvCarePalans .pageCustomMargin #innerTabs {
        height: calc(100vh - 40px - 52px - 91px - 10px - 42px - 50px - 45px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px 10px 10px 10px;
        margin-left: -15px;
        margin-right: -15px;
    }

.dvCarePalans .tabContainer {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/******************************************************************************
******************************* Modals ****************************
*******************************************************************************
*******************************************************************************/
.modal-content input {
    color: #000 !important;
}

.modal-content select {
    color: #000 !important;
}

.modal-content option {
    background-color: #fff !important;
}

.pagePlan .grayButton {
    color: #fff;
}

    .pagePlan .grayButton:hover, .pagePlan .grayButton:focus {
        color: #fff !important;
    }

.pagePlan .pageBody {
    margin-top: 70px;
}

.client img {
    height: auto;
    padding: 2px !important;
    margin: 2px !important;
    width: 35px;
}

.pagePlan input {
    font-size: 14px !important;
    color: #333 !important;
}

.pagePlan label {
    font-size: 12px !important;
}

.pagePlan textarea {
    height: auto;
    resize: none;
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
    min-height: 38px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-radius: 0px;
    background-color: transparent;
    font-size: 14px;
    color: #333 !important;
    padding: 5px;
    display: block;
    line-height: 1.42857143;
}

.pagePlan #byWhoModal label {
    line-height: 5 !important;
}

.close {
    color: #f00;
    font-size: 36px;
}

.pagePlan .dvPersonalData {
    top: 38px !important;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1010;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: #fff;
    background: url(../images/backgound.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pagePlan .pageHeader {
    font-size: 14px;
}

.pagePlan .planBody {
    margin-top: 114px;
}

.pagePlan .prgrsDv {
    min-height: 100px;
    max-height: 150px;
    border: none;
    border-bottom: 2px #888 solid;
    overflow-y: scroll;
}

#planModal h4 {
    color: #999 !important;
}

#planModal label {
    font-size: 18px !important;
}

#planModal input {
    color: #999;
}

#planModal .input-form {
    color: #999;
}

#planModal option {
    background-color: #fff;
}

#planModal .ChKPatientAgrees {
    top: 3px;
}

#planModal #spanPatientAgrees {
    color: #999;
    line-height: 3;
}

#planModal #txtSMS {
    width: auto;
}

#planModal #spanSMS {
    line-height: 1;
    color: #999;
    font-size: 18px;
}

#spanPatientAgrees {
    line-height: 3;
    color: #999;
}

.prgrsDv {
    min-height: 100px;
    max-height: 150px;
    border: none;
    border-bottom: 2px #888 solid;
    overflow-y: scroll;
}

.prgrsDvLbl {
    color: #999;
    font-size: 12px;
}