<div class="dvCarePalans">
    <div class="dvPersonalData">
        <!--Personal Data-->

        <div class="row">
            <div class="col-xs-11 mainBar" data-toggle="modal" data-target="#EditPlanConfirmationModal">

                <div class="col-xs-1">
                    <div class="row text-left">
                        <h5>Status</h5>
                    </div>
                    <div class="row text-left">
                        <h6>{{activePlan.Status}}</h6>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="row text-left">
                        <h5>Care&nbsp;Provider</h5>
                    </div>
                    <div class="row text-left">
                        <h6 id="txtCareCoordinatorName">{{activePlan.Provider}}</h6>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="row text-left">
                        <h5>Reason</h5>
                    </div>
                    <div class="row text-left">
                        <h6 id="txtPlanReason">{{activePlan.Reason}}</h6>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="row text-left">
                        <h5>Other&nbsp;Consideration</h5>
                    </div>
                    <div class="row text-left">
                        <h6 id="txtPlanOtherCoordinator">{{activePlan.OtherConsideration}}</h6>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="row text-left">
                        <h5>Other&nbsp;Plans</h5>
                    </div>
                    <div class="row text-left">
                        <h6 id="StatusH">{{activePlan.OtherPlan}}</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subBar">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-sm btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<span>Export</span></button>
                    </div>
                </div>
                <div class="clear2"></div>
                <div class="row">
                    <div class="col-xs-12 btnReassign">
                        <button type="button" class="btn btn-sm reassignBtn btn-primary" ng-click="reassign()">Reassign</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible hideMe text-center" id="dvMSG" role="alert">
                    <span id="spTXT"> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row pageBody">

        <div class="  col-xs-12 ">
            <div class="planBody"></div>
            <!--Plans -->
            <div class="row tabContainer">
                <div class="col-xs-12">
                    <div class="row customHeader2" id="tabs">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="planTabs">
                             
                            <li ng-repeat="plan in plans track by $index" ng-click="setActivePlan(plan)" ng-class="{'active' : activePlanTab == plan._id}" id="planLi{{plan._id}}">
                                <a href="#/healthrecord/careplans/{{plan._id}}" data-toggle="tab">{{plan.PlanName}}</a>
                            </li>

                            <li class="text-center">
                                <a class="newPlanLi" data-toggle="modal" data-target="#CreatePlanConfirmationModal">
                                    <span class="glyphicon glyphicon-plus-sign greenFont"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row pageCustomMargin">
                        <!-- Tab panes -->
                        <div class="tab-content" id="innerTabs">
                            <form name="frmPlan" novalidate confirm-on-exit>

                                <div ng-repeat="plan in plans track by $index">
                                    <!-- this should be filled with template & ng-repeat -->
                                    <!--<div ng-show="activePlanTab == plan._id" ng-include="'/views/templates/plan.partial.temp.html'"></div>-->
                                    <div>
                                        <div class="tab-pane active">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <a class="btn btn-danger" ng-click="confirmationDeletePLanModal(plan)" data-plan="1" style="color:#fff">Remove</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.PlanName" ng-class="{errorBorder : txtPlanName.$dirty == true && txtPlanName.$invalid == true ,'used': txtPlanName.length > 0}" type="text" pattern=".{1,80}" name="txtPlanName" id="txtPlanName" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtPlanName.$dirty == true && txtPlanName.$invalid == true }">Plan Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.ToImprove" ng-class="{errorBorder : txtImprove.$dirty == true && txtImprove.$invalid == true ,'used': txtImprove.length > 0}" type="text" pattern=".{1,80}" name="txtImprove" id="txtImprove" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtImprove.$dirty == true && txtImprove.$invalid == true }">What i would like to improve</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.ToAchieve1" ng-class="{errorBorder : txtAcheive.$dirty == true && txtAcheive.$invalid == true ,'used': txtAcheive.length > 0}" type="text" pattern=".{1,80}" name="txtAcheive" id="txtAcheive" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtAcheive.$dirty == true && txtAcheive.$invalid == true }">What i would like to acheive</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.ToAchieve2" ng-class="{errorBorder : txtAcheive2.$dirty == true && txtAcheive2.$invalid == true ,'used': txtAcheive2.length > 0}" type="text" pattern=".{1,80}" name="txtAcheive2" id="txtAcheive2" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtAcheive2.$dirty == true && txtAcheive2.$invalid == true }">What i would like to acheive</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.AgreedActions1" ng-class="{errorBorder : txtActions.$dirty == true && txtActions.$invalid == true ,'used': txtActions.length > 0}" type="text" pattern=".{1,80}" name="txtActions" id="txtActions" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtActions.$dirty == true && txtActions.$invalid == true }">Agreed actions to be taken</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class is-required ng-model="plan.AgreedActions2" ng-class="{errorBorder : txtActions2.$dirty == true && txtActions2.$invalid == true ,'used': txtActions2.length > 0}" type="text" pattern=".{1,80}" name="txtActions2" id="txtActions2" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtActions2.$dirty == true && txtActions2.$invalid == true }">Agreed actions to be taken</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class data-toggle="modal" data-target="#byWhoModal1" value="{{plan.ByWho1.Name}} [{{plan.ByWho1.Email}}]" ng-class="{errorBorder : txtByWho.$dirty == true && txtByWho.$invalid == true ,'used': txtByWho.length > 0}" type="text" pattern=".{1,80}" name="txtByWho" id="txtByWho" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtByWho.$dirty == true && txtByWho.$invalid == true }">By Who</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <input ng-input-effect-class data-toggle="modal" data-target="#byWhoModal2" value="{{plan.ByWho2.Name}} [{{plan.ByWho2.Email}}]" ng-class="{errorBorder : txtByWho2.$dirty == true && txtByWho2.$invalid == true ,'used': txtByWho2.length > 0}" type="text" pattern=".{1,80}" name="txtByWho2" id="txtByWho2" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label ng-class="{errorFont : txtByWho2.$dirty == true && txtByWho2.$invalid == true }">By Who</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <a data-toggle="dropdown" class="dropdown-toggle" id="dropdownByWhen1">
                                                            <input ng-input-effect-class is-required
                                                                   data-ng-model="plan.ByWhen1" data-date-time-input="MMM DD, YYYY"
                                                                   ng-class="{errorBorder : txtByWhen1.$dirty == true && txtByWhen1.$invalid == true ,'used': txtByWhen1.length > 0}"
                                                                   type="text" name="txtByWhen1" pattern=".{1,80}" id="txtByWhen1" required>


                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <label ng-class="{errorFont : txtByWhen1.$dirty == true && txtByWhen1.$invalid == true }">By When</label>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="plan.ByWhen1"
                                                                            data-datetimepicker-config="datepickerconfigurations1"
                                                                            data-on-set-time="onTimeSetPlan(newDate, oldDate, 1)"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>


                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="group">
                                                        <a data-toggle="dropdown" class="dropdown-toggle" id="dropdownByWhen2">
                                                            <input ng-input-effect-class is-required
                                                                   data-ng-model="plan.ByWhen2" data-date-time-input="MMM DD, YYYY"
                                                                   ng-class="{errorBorder : txtByWhen2.$dirty == true && txtByWhen2.$invalid == true ,'used': txtByWhen2.length > 0}"
                                                                   type="text" name="txtByWhen2" pattern=".{1,80}" id="txtByWhen2" required>
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <label ng-class="{errorFont : txtByWhen2.$dirty == true && txtByWhen2.$invalid == true }">By When</label>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="plan.ByWhen2"
                                                                            data-datetimepicker-config="datepickerconfigurations2"
                                                                            data-on-set-time="onTimeSetPlan(newDate, oldDate, 2)"></datetimepicker>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="row" data-toggle="modal" data-target="#prgrsModal">
                                                <div class="col-xs-12 prgrsDvLbl">How is it going?</div>
                                                <textarea class="form-control" id="prgrsTxt" rows="5"
                                                          is-required required ng-model="plan.Progress | unbreakFilter"
                                                          placeholder="How its going" aria-describedby="sizing-addon2"></textarea>
                                            </div>

                                            <div class="clear"></div>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row customFooter">
        <div class="text-left col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-dismiss" ng-click="dismiss()">Dismiss</button>
        </div>
        <div class="text-right col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-invert saveBtn" type="submit" form="frmPlan" ng-click="submit(frmPlan)">Save</button>
        </div>
    </div>

</div>
<!--<div class="clear"></div>-->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- Create Plan Modal Start -->
<div id="planModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Plan Modal content Start-->
        <div class="modal-content">
            <form id="frmNewPlan" name="frmNewPlan">
                <!-- Plan Modal Body Start -->
                <div class="modal-body">
                    <!-- Plan Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                    <h4 class="text-center modal-title">New Plan</h4>
                    <!-- Plan Modal Header End -->
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="newPlan.PlanName" ng-class="{errorBorder : frmNewPlan.txtName.$dirty == true && frmNewPlan.txtName.$invalid == true ,'used': txtName.length > 0}" type="text" pattern=".{1,80}" name="txtName" id="txtName" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewPlan.txtName.$dirty == true && frmNewPlan.txtName.$invalid == true }">Plan Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="newPlan.Reason" ng-class="{errorBorder : frmNewPlan.txtReason.$dirty == true && frmNewPlan.txtReason.$invalid == true ,'used': txtReason.length > 0}"
                                       type="text" pattern=".{1,80}" name="txtReason" id="txtReason" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewPlan.txtReason.$dirty == true && frmNewPlan.txtReason.$invalid == true }">Reason</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <select ng-select-effect-class is-required-select ng-model="newPlan.Provider" ng-class="{'errorBorder' : cmbProvider == '0' ,'used': cmbProvider != '0'}" id="cmbProvider" name="cmbProvider" class="input-form" required>
                                    <option value="10" disabled selected></option>
                                    <option value="Amir Aly">Amir Aly</option>
                                    <option value="Ahmed Alaa">Ahmed Alaa</option>
                                    <option value="Saeed AlMasry">Saeed AlMasry</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label id="lblProvider">Provider</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="newPlan.OtherConsideration" ng-class="{errorBorder : frmNewPlan.txtOtherConsideration.$dirty == true && frmNewPlan.txtOtherConsideration.$invalid == true ,'used': txtOtherConsideration.length > 0}"
                                       type="text" pattern=".{1,80}" name="txtOtherConsideration" id="txtOtherConsideration" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewPlan.txtOtherConsideration.$dirty == true && frmNewPlan.txtOtherConsideration.$invalid == true }">Other&nbsp;Consideration</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="newPlan.OtherPlan" ng-class="{errorBorder : frmNewPlan.txtOtherPlan.$dirty == true && frmNewPlan.txtOtherPlan.$invalid == true ,'used': txtOtherPlan.length > 0}"
                                       type="text" pattern=".{1,80}" name="txtOtherPlan" id="txtOtherPlan" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewPlan.txtOtherPlan.$dirty == true && frmNewPlan.txtOtherPlan.$invalid == true }">Other&nbsp;Plans (not listed in Nomadic Care)</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="newPlan.Status" ng-class="{errorBorder : frmNewPlan.txtStatus.$dirty == true && frmNewPlan.txtStatus.$invalid == true ,'used': txtStatus.length > 0}" type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewPlan.txtStatus.$dirty == true && frmNewPlan.txtStatus.$invalid == true }">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span id="spanPatientAgrees">&nbsp;&nbsp;Patient agrees to plan and has a copy?</span>
                        </div>
                        <div class="col-xs-6 checkbox">
                            <switch name="yesNo" ng-model="yesNo" on="Yes" off="No" class="wide"></switch>
                        </div>
                    </div>

                </div>
                <!-- Plan Modal Body End -->
                <!-- Plan Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" id="btnPlanModal" ng-click="createPlan()" data-dismiss="modal">OK</button>
                </div>
                <!-- Plan Modal Footer End -->
            </form>
        </div>
        <!-- Plan Modal Content End -->
    </div>
</div>
<!-- Plan Modal End -->

<!-- Edit Plan Modal Start -->
<div id="editPlanModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Plan Modal content Start-->
        <div class="modal-content">
            <form id="frmEditPlan" name="frmEditPlan">
                <!-- Plan Modal Body Start -->
                <div class="modal-body">
                    <!-- Plan Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                    <h4 class="text-center modal-title">Edit Plan Info</h4>
                    <!-- Plan Modal Header End -->
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.PlanName" ng-class="{errorBorder : frmEditPlan.txtName.$dirty == true && frmEditPlan.txtName.$invalid == true ,'used': txtName.length > 0}" type="text" pattern=".{1,80}" name="txtName" id="txtName" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmEditPlan.txtName.$dirty == true && frmEditPlan.txtName.$invalid == true }">Plan Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.Reason" ng-class="{errorBorder : frmEditPlan.txtReason.$dirty == true && frmEditPlan.txtReason.$invalid == true ,'used': txtReason.length > 0}"
                                        type="text" pattern=".{1,80}" name="txtReason" id="txtReason" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmEditPlan.txtReason.$dirty == true && frmEditPlan.txtReason.$invalid == true }">Reason</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <select ng-select-effect-class is-required-select ng-model="activePlan.Provider" ng-class="{'errorBorder' : cmbProvider == '0' ,'used': cmbProvider != '0'}" id="cmbProvider" name="cmbProvider" class="input-form" required>
                                    <option value="0" disabled selected></option>
                                    <option value="Amir Aly">Amir Aly</option>
                                    <option value="Ahmed Alaa">Ahmed Alaa</option>
                                    <option value="Saeed AlMasry">Saeed AlMasry</option>
                                </select>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label id="lblProvider">Provider</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.OtherConsideration" ng-class="{errorBorder : frmEditPlan.txtOtherConsideration.$dirty == true && frmEditPlan.txtOtherConsideration.$invalid == true ,'used': txtOtherConsideration.length > 0}"
                                       type="text" pattern=".{1,80}" name="txtOtherConsideration" id="txtOtherConsideration" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmEditPlan.txtOtherConsideration.$dirty == true && frmEditPlan.txtOtherConsideration.$invalid == true }">Other&nbsp;Consideration</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.txtOtherPlan" ng-class="{errorBorder : frmEditPlan.txtOtherPlan.$dirty == true && frmEditPlan.txtOtherPlan.$invalid == true ,'used': txtOtherPlan.length > 0}"
                                       type="text" pattern=".{1,80}" name="txtOtherPlan" id="txtOtherPlan" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmEditPlan.txtOtherPlan.$dirty == true && frmEditPlan.txtOtherPlan.$invalid == true }">Other&nbsp;Plans (not listed in Nomadic Care)</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.Status" ng-class="{errorBorder : frmEditPlan.txtStatus.$dirty == true && frmEditPlan.txtStatus.$invalid == true ,'used': txtStatus.length > 0}" type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmEditPlan.txtStatus.$dirty == true && frmEditPlan.txtStatus.$invalid == true }">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span id="spanPatientAgrees">&nbsp;&nbsp;Patient agrees to plan and has a copy?</span>
                        </div>
                        <div class="col-xs-6 checkbox">
                            <switch name="yesNo" ng-model="yesNo" on="Yes" off="No" class="wide"></switch>
                        </div>
                    </div>

                </div>
                <!-- Plan Modal Body End -->
                <!-- Plan Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" id="btnPlanModal" ng-click="editPlan()" data-dismiss="modal">OK</button>
                </div>
                <!-- Plan Modal Footer End -->
            </form>
        </div>
        <!-- Plan Modal Content End -->
    </div>
</div>
<!-- Plan Modal End -->

<div id="byWhoModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="frmByWho1" novalidate confirm-on-exit>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.ByWho1.Name" ng-class="{errorBorder : frmByWho1.txtName.$dirty == true && frmByWho1.txtName.$invalid == true ,'used': activePlan.Name.length > 0}" type="text" pattern=".{1,80}" name="txtName" id="txtName" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmByWho1.txtName.$dirty == true && frmByWho1.txtName.$invalid == true }">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear2"></div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.ByWho1.Email" ng-class="{errorBorder : frmByWho1.txtEmail.$dirty == true && frmByWho1.txtEmail.$invalid == true ,'used': activePlan.Email.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmByWho1.txtEmail.$dirty == true && frmByWho1.txtEmail.$invalid == true }">Mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear2"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Dismiss</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-disabled="frmByWho1.$invalid" ng-click="setBywho1Data(frmByWho1)">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="byWhoModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="frmByWho2" novalidate confirm-on-exit>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.ByWho2.Name" ng-class="{errorBorder : frmByWho2.txtName.$dirty == true && frmByWho2.txtName.$invalid == true ,'used': activePlan.Name.length > 0}" type="text" pattern=".{1,80}" name="txtName" id="txtName" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmByWho2.txtName.$dirty == true && frmByWho2.txtName.$invalid == true }">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear2"></div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="activePlan.ByWho2.Email" ng-class="{errorBorder : frmByWho2.txtEmail.$dirty == true && frmByWho2.txtEmail.$invalid == true ,'used': activePlan.Email.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmByWho2.txtEmail.$dirty == true && frmByWho2.txtEmail.$invalid == true }">Mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear2"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Dismiss</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-disabled="frmByWho2.$invalid" ng-click="setBywho1Data(frmByWho2)">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="prgrsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="frmProgress" novalidate confirm-on-exit>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <textarea class="form-control" id="prgrsTxt" rows="5" name="txtProgress"
                              is-required required ng-model="activePlan.Progress.Text"
                              ng-class="{errorBorder : frmProgress.txtProgress.$dirty == true && frmProgress.txtProgress.$invalid == true ,'used': activePlan.Progress.Text.length > 0}"
                              placeholder="How its going" aria-describedby="sizing-addon2"></textarea>
                    <!--<textarea class="form-control" id="prgrsTxt" rows="5"
                              is-required required ng-model="activePlan.Progress"
                              placeholder="How its going" aria-describedby="sizing-addon2"></textarea>-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Dismiss</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-disabled="frmProgress.$invalid"
                            ng-click="setProgressData(frmProgress)">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- add confirmations of create / edit / delete plan here or in careplan.temp.html -->

<div id="EditPlanConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Are You Sure You Want To Edit This Plan ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editPlanModal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="CreatePlanConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Are You Sure You Want To Create New Plan ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#planModal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmationDeletePLanModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Are You Sure You Want To Delete This Plan ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePlan()">Ok</button>
            </div>
        </div>
    </div>
</div>