<div class="innerSingleTabNoTabs">
    <!--Diagnosis-->
    <div class="clear2"></div>
    <div class="row noMargin">
        <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9 text-right">
            <input type="text" placeholder="Type to filter" class="input-form" ng-model="searchText" />
        </div>
    </div>

    <div class="clear2"></div>

    <!-- Table Start -->
    <div class="table-responsive dvTblNotes" ng-hide="filteredArray.length == 0">
        <table class="table table-bordered tblWhite">
            <thead>
                <tr>
                    <th>Date Entered</th>
                    <th>Clinical Reason</th>
                    <th>Examination</th>
                    <th>Treatment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in notes | filter:searchText as filteredArray">
                    <td>{{item.Date | date:'mediumDate'}}</td> <!-- 'mediumDate' equivalent to 'MMM d, y' -->
                    <td>{{item.ClinicalReason}}</td>
                    <td>{{item.Examination}}</td>
                    <td>{{item.Treatment}}</td>
                    <td><span ng-show="item.Status == 0">Resolved</span><span ng-show="item.Status == 1">Unresolved</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table End -->

    <div ng-show="filteredArray.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h3>No Data Found</h3>
    </div>

</div>

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#consultationnotesModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- Consultation Notes Modal Start -->
<div id="consultationnotesModal" class="modal fade" role="dialog" my-modal>
    <div class="modal-dialog">
        <form name="frmConsultationnotes" novalidate confirm-on-exit>
            <!-- Consultation Notes Modal content Start-->
            <div class="modal-content">
                <!-- Consultation Notes Modal Body Start -->
                <div class="modal-body">
                    <!-- Consultation Notes Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                    <h4 class="text-center">New Consultation Notes</h4>
                    <!-- Consultation Notes Modal Header End -->
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="group">
                                <a data-toggle="dropdown" class="dropdown-toggle" id="dropdown">
                                    <input ng-input-effect-class is-required
                                           data-ng-model="txtDate" data-date-time-input="MMM DD, YYYY"
                                           ng-class="{errorBorder : frmConsultationnotes.txtDate.$dirty == true && frmConsultationnotes.txtDate.$invalid == true ,'used': txtDate.length > 0}"
                                           type="text" name="txtDate" pattern=".{1,80}" id="txtDate" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmConsultationnotes.txtDate.$dirty == true && frmConsultationnotes.txtDate.$invalid == true }">Date Entered</label>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="txtDate"
                                                    data-datetimepicker-config="datepickerconfigurations"
                                                    data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 noPaddingLeft">
                            <button class="btn btn-default btnTodayDate" ng-click="txtDate=DateIsToday;setDateToTodayUI()">Today</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtClinicalReason" ng-class="{errorBorder : frmConsultationnotes.txtClinicalReason.$dirty == true && frmConsultationnotes.txtClinicalReason.$invalid == true ,'used': txtClinicalReason.length > 0}" type="text" pattern=".{1,80}" name="txtClinicalReason" id="txtClinicalReason" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmConsultationnotes.txtClinicalReason.$dirty == true && frmConsultationnotes.txtClinicalReason.$invalid == true }">Clinical Reason</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtExamination" ng-class="{errorBorder : frmConsultationnotes.txtExamination.$dirty == true && frmConsultationnotes.txtExamination.$invalid == true ,'used': txtExamination.length > 0}" type="text" pattern=".{1,80}" name="txtExamination" id="txtExamination" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmConsultationnotes.txtExamination.$dirty == true && frmConsultationnotes.txtExamination.$invalid == true }">Examination</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtTreatment" ng-class="{errorBorder : frmConsultationnotes.txtTreatment.$dirty == true && frmConsultationnotes.txtTreatment.$invalid == true ,'used': txtTreatment.length > 0}" type="text" pattern=".{1,80}" name="txtTreatment" id="txtTreatment" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmConsultationnotes.txtTreatment.$dirty == true && frmConsultationnotes.txtTreatment.$invalid == true }">Treatment</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>Is Resolved</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox">
                                <switch name="txtResolved" ng-model="txtResolved" on="Yes" off="No" class="wide"></switch>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                                <span>{{messageTxt}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Consultation Notes Modal Body End -->
                <!-- Consultation Notes Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button ng-click="submit(frmConsultationnotes)" type="submit" class="btn btn-default">Save</button>
                </div>
                <!-- Consultation Notes Modal Footer End -->
            </div>
            <!-- Consultation Notes Modal Content End -->
        </form>
    </div>
</div>
<!-- Consultation Notes Modal End -->