<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9  text-right">
        <input type="text" placeholder="Type to filter" class="input-form txtSearchNotes" id="txtSearchNotes" name="txtSearchNotes" />
    </div>
</div>
<div class="clear2"></div>
<!-- Table Start -->
<div class="table-responsive">
    <table class="table table-bordered tblWhite">
        <thead>
            <tr>
                <th>Date&nbsp;Entered</th>
                <th>Diagnosis</th>
                <th>Nature</th>
                <th>Status</th>
                <th>Clinician</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 Apr 2014</td>
                <td>Bronshitis</td>
                <td>Acute/Moderate/Long-term</td>
                <td>Current/Resolved/On-going/Non-existant</td>
                <td>Dr.Kountoris</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Bronshitis</td>
                <td>Acute/Moderate/Long-term</td>
                <td>Current/Resolved/On-going/Non-existant</td>
                <td>Dr.Kountoris</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table End -->

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#diagnosisModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- Diagnosis Modal Start -->
<div id="diagnosisModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Diagnosis Modal content Start-->
        <div class="modal-content">
            <!-- Diagnosis Modal Body Start -->
            <div class="modal-body">
                <!-- Diagnosis Modal Header Start -->
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                <h4 class="text-center">New Diagnosis</h4>
                <!-- Diagnosis Modal Header End -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group groupDiagnosisModal">
                            <input type="text" class="fontBlack" name="txtDateDiagnosis" pattern=".{1,80}" id="txtDateDiagnosis" required readonly>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label id="lblDOB">Date Entered</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" id="txtDiagnosis" class="txtDiagnosis" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Diagnosis</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtNature" id="txtNature" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Nature</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Status</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtClinician" id="txtClinician" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Clinician</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Diagnosis Modal Body End -->
            <!-- Diagnosis Modal Footer Start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            <!-- Diagnosis Modal Footer End -->
        </div>
        <!-- Diagnosis Modal Content End -->
    </div>
</div>
<!-- Diagnosis Modal End -->