<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9  text-right">
        <input type="text" placeholder="Type to filter" class="input-form" ng-model="searchText" />
    </div>
</div>
<div class="clear2"></div>
<!-- Table Start -->
<div class="table-responsive" ng-hide="filteredArray.length == 0">
    <table class="table table-bordered tblWhite">
        <thead>
            <tr>
                <th>Date&nbsp;Required</th>
                <th>Reason</th>
                <th>Related Consultation</th>
                <th>Status</th>
                <th>Clinician</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in followup | filter:searchText as filteredArray">
                <td>{{item.DateRequired | date:'mediumDate'}}</td> <!-- 'mediumDate' equivalent to 'MMM d, y' -->
                <td>{{item.Reason}}</td>
                <td>{{item.RelatedConsultation}}</td>
                <td>{{item.Status}}</td>
                <td>{{item.Clinician}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table End -->
<div ng-show="filteredArray.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <h3>No Followup found</h3>
</div>

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#followupModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- Followup Modal Start -->
<div id="followupModal" class="modal fade" role="dialog" my-modal>
    <div class="modal-dialog">
        <form name="frmFollowup" novalidate confirm-on-exit>
            <!-- Followup Modal content Start-->
            <div class="modal-content">
                <!-- Followup Modal Body Start -->
                <div class="modal-body">
                    <!-- Followup Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                    <h4 class="text-center">New Follow up</h4>
                    <!-- Followup Modal Header End -->
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="group">
                                <a data-toggle="dropdown" class="dropdown-toggle" id="dropdown">
                                    <input ng-input-effect-class is-required
                                           data-ng-model="txtDateFollowup" data-date-time-input="MMM DD, YYYY"
                                           ng-class="{errorBorder : frmFollowup.txtDateFollowup.$dirty == true && frmFollowup.txtDateFollowup.$invalid == true ,'used': txtDateFollowup.length > 0}"
                                           type="text" name="txtDateFollowup" pattern=".{1,80}" id="txtDateFollowup" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmFollowup.txtDateFollowup.$dirty == true && frmFollowup.txtDateFollowup.$invalid == true }">Date Required</label>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="txtDateFollowup"
                                                    data-datetimepicker-config="datepickerconfigurations"
                                                    data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 noPaddingLeft">
                            <button class="btn btn-default btnTodayDate" ng-click="txtDateFollowup=DateIsToday;setDateToTodayUI()">Today</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtReason" ng-class="{errorBorder : frmFollowup.txtReason.$dirty == true && frmFollowup.txtReason.$invalid == true ,'used': txtReason.length > 0}" type="text" pattern=".{1,80}" name="txtReason" id="txtReason" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmFollowup.txtReason.$dirty == true && frmFollowup.txtReason.$invalid == true }">Reason for follow-up</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtRelatedConsultation" ng-class="{errorBorder : frmFollowup.txtRelatedConsultation.$dirty == true && frmFollowup.txtRelatedConsultation.$invalid == true ,'used': txtRelatedConsultation.length > 0}" type="text" pattern=".{1,80}" name="txtRelatedConsultation" id="txtRelatedConsultation" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmFollowup.txtRelatedConsultation.$dirty == true && frmFollowup.txtRelatedConsultation.$invalid == true }">Related Consultation</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtStatus" ng-class="{errorBorder : frmFollowup.txtStatus.$dirty == true && frmFollowup.txtStatus.$invalid == true ,'used': txtStatus.length > 0}" type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmFollowup.txtStatus.$dirty == true && frmFollowup.txtStatus.$invalid == true }">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtClinician" ng-class="{errorBorder : frmFollowup.txtClinician.$dirty == true && frmFollowup.txtClinician.$invalid == true ,'used': txtClinician.length > 0}" type="text" pattern=".{1,80}" name="txtClinician" id="txtClinician" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmFollowup.txtClinician.$dirty == true && frmFollowup.txtClinician.$invalid == true }">Clinician</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                                <span>{{messageTxt}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Followup Modal Body End -->
                <!-- Followup Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button ng-click="submit(frmFollowup)" type="submit" class="btn btn-default">Save</button>
                </div>
                <!-- Followup Modal Footer End -->
            </div>
            <!-- Followup Modal Content End -->
        </form>
    </div>
</div>
<!-- Followup Modal End -->