<div class="row col-xs-12">
    <div ng-show="chartDataArray.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h3>No Data found</h3>
    </div>
    <div class="col-xs-12" ng-hide="chartDataArray.length == 0">
        <canvas id="canvasHBA1c"></canvas>
    </div>
</div>

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#HBA1cModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- HBA1c Modal Start -->
<div id="HBA1cModal" class="modal fade" role="dialog" my-modal>
    <div class="modal-dialog">
        <form name="frmNewHBA1c" novalidate confirm-on-exit>
            <!-- HBA1c Modal content Start-->
            <div class="modal-content">
                <!-- HBA1c Modal Body Start -->
                <div class="modal-body">
                    <!-- HBA1c Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                    <h4 class="text-center">New HBA1c</h4>
                    <!-- HBA1c Modal Header End -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <a data-toggle="dropdown" class="dropdown-toggle" id="dropdown">
                                    <input ng-input-effect-class is-required
                                           data-ng-model="txtDate" data-date-time-input="MMM DD, YYYY"
                                           ng-class="{errorBorder : frmNewHBA1c.txtDate.$dirty == true && frmNewHBA1c.txtDate.$invalid == true ,'used': txtDate.length > 0}"
                                           type="text" name="txtDate" pattern=".{1,80}" id="txtDate" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmNewHBA1c.txtDate.$dirty == true && frmNewHBA1c.txtDate.$invalid == true }">Date/Time Entered</label>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="txtDate"
                                                    data-datetimepicker-config="datepickerconfigurations"
                                                    data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtValue" ng-class="{errorBorder : frmNewHBA1c.txtValue.$dirty == true && frmNewHBA1c.txtValue.$invalid == true ,'used': txtValue.length > 0}"
                                       type="number" pattern=".{1,80}" name="txtValue" id="txtValue" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewHBA1c.txtValue.$dirty == true && frmNewHBA1c.txtValue.$invalid == true }">HBA1c (mmol/ mol)</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtNotes" ng-class="{errorBorder : frmNewHBA1c.txtNotes.$dirty == true && frmNewHBA1c.txtNotes.$invalid == true ,'used': txtNotes.length > 0}" type="text" pattern=".{1,80}" name="txtNotes" id="txtNotes" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewHBA1c.txtNotes.$dirty == true && frmNewHBA1c.txtNotes.$invalid == true }">Notes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HBA1c Modal Body End -->
                <!-- HBA1c Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button ng-click="submit(frmNewHBA1c)" type="submit" class="btn btn-default">Save</button>
                </div>
                <!-- HBA1c Modal Footer End -->
            </div>
            <!-- HBA1c Modal content End-->
        </form>
    </div>
</div>
<!-- HBA1c Modal End -->