<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9  text-right">
        <input type="text" placeholder="Type to filter" class="input-form txtSearchNotes" id="txtSearchNotes" name="txtSearchNotes" />
    </div>
</div>
<div class="clear2"></div>
<!-- Table Start -->
<div class="table-responsive">
    <table class="table table-bordered tblWhite">
        <thead>
            <tr>
                <th>Date&nbsp;Prescribed</th>
                <th>Description</th>
                <th>Type</th>
                <th>Indication</th>
                <th>Status</th>
                <th>Related&nbsp;Consultation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 Apr 2014</td>
                <td>Lyrica</td>
                <td>Pain killer</td>
                <td>For management of back pain</td>
                <td>Current</td>
                <td>1 April2014. 10:00 Am</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Oxycontin</td>
                <td>Pain killer</td>
                <td>For management of hamstringsorreness</td>
                <td>Current</td>
                <td>1 April2014. 10:00 Am</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table End -->


<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#medicationsModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- Medication Modal Start -->
<div id="medicationsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Medication Modal content Start-->
        <div class="modal-content">
            <!-- Medication Modal Body Start -->
            <div class="modal-body">
                <!-- Medication Modal Header Start -->
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                <h4 class="text-center">New Medication</h4>
                <!-- Medication Modal Header End -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group groupMedicationModal">
                            <input type="text" class="fontBlack" name="txtDateMedication" pattern=".{1,80}" id="txtDateMedication" required readonly>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label id="lblDOB">Date Prescribed</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" id="txtDescription" class="txtDescription" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Description</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtType" id="txtType" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Type</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtIndication" id="txtIndication" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Indication</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Status</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtRelatedConsultation" id="txtRelatedConsultation" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Related Consultation</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Medication Modal Body End -->
            <!-- Medication Modal Footer Start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            <!-- Medication Modal Footer End -->
        </div>
        <!-- Medication Modal Content End -->
    </div>
</div>
<!-- Medication Modal End -->