<div class="tab-pane active">
    <form name="frmPlan" novalidate confirm-on-exit>
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-danger" ng-click="deletePlan(plan)" data-plan="1" style="color:#fff">Remove</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.PlanName" ng-class="{errorBorder : txtPlanName.$dirty == true && txtPlanName.$invalid == true ,'used': txtPlanName.length > 0}" type="text" pattern=".{1,80}" name="txtPlanName" id="txtPlanName" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtPlanName.$dirty == true && txtPlanName.$invalid == true }">Plan Name</label>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.ToImprove" ng-class="{errorBorder : txtImprove.$dirty == true && txtImprove.$invalid == true ,'used': txtImprove.length > 0}" type="text" pattern=".{1,80}" name="txtImprove" id="txtImprove" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtImprove.$dirty == true && txtImprove.$invalid == true }">What i would like to improve</label>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.ToAchieve1" ng-class="{errorBorder : txtAcheive.$dirty == true && txtAcheive.$invalid == true ,'used': txtAcheive.length > 0}" type="text" pattern=".{1,80}" name="txtAcheive" id="txtAcheive" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtAcheive.$dirty == true && txtAcheive.$invalid == true }">What i would like to acheive</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.ToAchieve2" ng-class="{errorBorder : txtAcheive2.$dirty == true && txtAcheive2.$invalid == true ,'used': txtAcheive2.length > 0}" type="text" pattern=".{1,80}" name="txtAcheive2" id="txtAcheive2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtAcheive2.$dirty == true && txtAcheive2.$invalid == true }">What i would like to acheive</label>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.AgreedActions1" ng-class="{errorBorder : txtActions.$dirty == true && txtActions.$invalid == true ,'used': txtActions.length > 0}" type="text" pattern=".{1,80}" name="txtActions" id="txtActions" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtActions.$dirty == true && txtActions.$invalid == true }">Agreed actions to be taken</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class is-required ng-model="plan.AgreedActions2" ng-class="{errorBorder : txtActions2.$dirty == true && txtActions2.$invalid == true ,'used': txtActions2.length > 0}" type="text" pattern=".{1,80}" name="txtActions2" id="txtActions2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtActions2.$dirty == true && txtActions2.$invalid == true }">Agreed actions to be taken</label>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class data-toggle="modal" data-target="#byWhoModal" value="{{plan.ByWho1.Name}} [{{plan.ByWho1.Email}}]"  ng-class="{errorBorder : txtByWho.$dirty == true && txtByWho.$invalid == true ,'used': txtByWho.length > 0}" type="text" pattern=".{1,80}" name="txtByWho" id="txtByWho" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtByWho.$dirty == true && txtByWho.$invalid == true }">By Who</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <input ng-input-effect-class data-toggle="modal" data-target="#byWhoModal" value="{{plan.ByWho2.Name}} [{{plan.ByWho2.Email}}]" ng-class="{errorBorder : txtByWho2.$dirty == true && txtByWho2.$invalid == true ,'used': txtByWho2.length > 0}" type="text" pattern=".{1,80}" name="txtByWho2" id="txtByWho2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label ng-class="{errorFont : txtByWho2.$dirty == true && txtByWho2.$invalid == true }">By Who</label>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <a data-toggle="dropdown" class="dropdown-toggle" id="dropdownByWhen1">
                        <input ng-input-effect-class is-required
                               data-ng-model="plan.ByWhen1" data-date-time-input="MMM DD, YYYY"
                               ng-class="{errorBorder : txtByWhen1.$dirty == true && txtByWhen1.$invalid == true ,'used': txtByWhen1.length > 0}"
                               type="text" name="txtByWhen1" pattern=".{1,80}" id="txtByWhen1" required>


                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label ng-class="{errorFont : txtByWhen1.$dirty == true && txtByWhen1.$invalid == true }">By When</label>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="plan.ByWhen1"
                                        data-datetimepicker-config="datepickerconfigurations1"
                                        data-on-set-time="onTimeSetPlan(newDate, oldDate, 1)"></datetimepicker>
                    </ul>
                </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="group">
                    <a data-toggle="dropdown" class="dropdown-toggle" id="dropdownByWhen2">
                        <input ng-input-effect-class is-required
                               data-ng-model="plan.ByWhen2" data-date-time-input="MMM DD, YYYY"
                               ng-class="{errorBorder : txtByWhen2.$dirty == true && txtByWhen2.$invalid == true ,'used': txtByWhen2.length > 0}"
                               type="text" name="txtByWhen2" pattern=".{1,80}" id="txtByWhen2" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label ng-class="{errorFont : txtByWhen2.$dirty == true && txtByWhen2.$invalid == true }">By When</label>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="plan.ByWhen2"
                                        data-datetimepicker-config="datepickerconfigurations2"
                                        data-on-set-time="onTimeSetPlan(newDate, oldDate, 2)"></datetimepicker>
                    </ul>
                </div>

            </div>
        </div>
        <div class="clear"></div>
        <div class="row" data-toggle="modal" data-target="#prgrsModal">
            <div class="col-xs-12 prgrsDvLbl">How is it going?</div>
            <div class="col-md-12 col-sm-12 col-xs-12 prgrsDv">{{plan.Progress}}</div>
        </div>

        <div class="clear"></div>
    </form>
</div>
