<div class="row col-xs-12">
    <div ng-show="chartDataArray.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="clear"></div>
        <h5>No Data found</h5>
    </div>
    <div class="col-xs-12" ng-hide="chartDataArray.length == 0">

        <div class="clear2"></div>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Analytics <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                   <!-- <li><a ng-click="SetAnalytics('Weight')">Weight</a></li>-->
                    <li><a ng-click="SetAnalytics('Activity')">Activity</a></li>
                    <li><a ng-click="SetAnalytics('BloodPressure')">Blood Pressure</a></li>
                    <li><a ng-click="SetAnalytics('Cholesterol')">Cholesterol</a></li>
                    <li><a ng-click="SetAnalytics('HBA1c')">HBA1c</a></li>
                    <li><a ng-click="SetAnalytics('BloodGlucose')">Blood Glucose</a></li>
                </ul>
            </div>
        </div>
        <div class="clear3"></div>

        <canvas id="canvasWeight"></canvas>
    </div>
</div>

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#weightModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- Weight Modal Start -->
<div id="weightModal" class="modal fade" role="dialog" my-modal>
    <div class="modal-dialog">
        <form name="frmNewWeight" novalidate confirm-on-exit>
            <!-- Weight Modal content Start-->
            <div class="modal-content">
                <!-- Weight Modal Body Start -->
                <div class="modal-body">
                    <!-- Weight Modal Header Start -->
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                    <h4 class="text-center">New Weight</h4>
                    <!-- Weight Modal Header End -->
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="group">
                                <a data-toggle="dropdown" class="dropdown-toggle" id="dropdown">
                                    <input ng-input-effect-class is-required
                                           data-ng-model="txtDate" data-date-time-input="MMM DD, YYYY"
                                           ng-class="{errorBorder : frmNewWeight.txtDate.$dirty == true && frmNewWeight.txtDate.$invalid == true ,'used': txtDate.length > 0}"
                                           type="text" name="txtDate" pattern=".{1,80}" id="txtDate" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmNewWeight.txtDate.$dirty == true && frmNewWeight.txtDate.$invalid == true }">Date/Time Entered</label>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="txtDate"
                                                    data-datetimepicker-config="datepickerconfigurations"
                                                    data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 noPaddingLeft">
                            <button class="btn btn-default btnTodayDate" ng-click="txtDate=DateIsToday;setDateToTodayUI()">Today</button>
                        </div>

                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtValue" ng-class="{errorBorder : frmNewWeight.txtValue.$dirty == true && frmNewWeight.txtValue.$invalid == true ,'used': txtValue.length > 0}"
                                       type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.0000000001" name="txtValue" id="txtValue" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewWeight.txtValue.$dirty == true && frmNewWeight.txtValue.$invalid == true }">Weight</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 noPaddingLeft">
                            <h4>Kg</h4>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtHeight" ng-class="{errorBorder : frmNewWeight.txtHeight.$dirty == true && frmNewWeight.txtHeight.$invalid == true ,'used': txtHeight.length > 0}"
                                       type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.0000000001" name="txtHeight" id="txtHeight" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewWeight.txtHeight.$dirty == true && frmNewWeight.txtHeight.$invalid == true }">Height</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 noPaddingLeft">
                            <h4>Cm</h4>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="group">
                                <input ng-input-effect-class is-required ng-model="txtNotes" ng-class="{errorBorder : frmNewWeight.txtNotes.$dirty == true && frmNewWeight.txtNotes.$invalid == true ,'used': txtNotes.length > 0}" type="text" pattern=".{1,80}" name="txtNotes" id="txtNotes" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label ng-class="{errorFont : frmNewWeight.txtNotes.$dirty == true && frmNewWeight.txtNotes.$invalid == true }">Notes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Weight Modal Body End -->
                <!-- Weight Modal Footer Start -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                    <button ng-click="submit(frmNewWeight)" type="submit" class="btn btn-default">Save</button>
                </div>
                <!-- Weight Modal Footer End -->
            </div>
            <!-- Weight Modal content End-->
        </form>
    </div>
</div>
<!-- Weight Modal End -->