<div class="text-center">
    <div class="row animated fadeInRight" id="loginContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal" id="frmLogin" name="frmLogin" novalidate>
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1">
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtEmail" ng-class="{errorBorder : loginFormError || frmLogin.txtEmail.$dirty == true && frmLogin.txtEmail.$invalid == true ,'used': txtEmail.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : loginFormError || frmLogin.txtEmail.$dirty == true && frmLogin.txtEmail.$invalid == true }">User name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtPassword" ng-class="{errorBorder : loginFormError || frmLogin.txtPassword.$dirty == true && frmLogin.txtPassword.$invalid == true ,'used': txtPassword.length > 0}" type="password" pattern=".{1,80}" name="txtPassword" id="txtPassword" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : loginFormError || frmLogin.txtPassword.$dirty == true && frmLogin.txtPassword.$invalid == true }">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear2"></div>

                            <!--<div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-success alert-dismissible hideMe msg" id="dvMSG" role="alert">
                                        <span id="spTXT"></span>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                                        <span>{{messageTxt}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" ng-click="submit()" id="btnLogin" name="btnLogin" class="btn btn-block btn-invert">Login</button>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <img src="images/logo.png" />
                                </div>
                            </div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>

                            <div class="row">
                                <div class="col-xs-12 text-center"> V 0.7</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row footer" ui-view="footerView"></div>
</div>
