<div class="text-center">
    <div class="clear"></div>
    <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}"
                 class="alert alert-dismissible text-center" ng-show="showMessage2 == true" role="alert">
                <span>{{messageTxt}}</span>
            </div>
        </div>
    </div>

    <div class="row animated fadeInRight"  ng-show="hidelogin == false">
        <div class="col-md-12 col-sm-12 col-xs-12" id="loginContainer" ng-hide="showLoginFirstTime">
            <form class="form-horizontal" id="frmLogin" name="frmLogin" novalidate>
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1">
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtEmail" ng-class="{errorBorder : loginFormError || frmLogin.txtEmail.$dirty == true && frmLogin.txtEmail.$invalid == true ,'used': txtEmail.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : loginFormError || frmLogin.txtEmail.$dirty == true && frmLogin.txtEmail.$invalid == true }">User name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtPassword" ng-class="{errorBorder : loginFormError || frmLogin.txtPassword.$dirty == true && frmLogin.txtPassword.$invalid == true ,'used': txtPassword.length > 0}" type="password" pattern=".{1,80}" name="txtPassword" id="txtPassword" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : loginFormError || frmLogin.txtPassword.$dirty == true && frmLogin.txtPassword.$invalid == true }">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" ng-click="submit(frmLogin)" id="btnLogin" name="btnLogin" class="btn btn-block btn-invert">Login</button>
                                </div>
                            </div>

                            <div class="clear2"></div>
                            <div class="clear2"></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}"
                                         class="alert alert-dismissible text-center" ng-show="showMessage == true" role="alert">
                                        <span>{{messageTxt}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="clear"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <img src="images/logo.png" />
                                </div>
                            </div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>
                            <div class="clear2"></div>

                            <div class="row">
                                <div class="col-xs-12 text-center"> V 0.7</div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="showLoginFirstTime">
            <div class="clear"></div>
            <form name="frmPass" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1">
                        <div class="clear2"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtEmail" ng-class="{errorBorder : loginFormError || frmPass.txtEmail.$dirty == true && frmPass.txtEmail.$invalid == true ,'used': txtEmail.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : loginFormError || frmPass.txtEmail.$dirty == true && frmPass.txtEmail.$invalid == true }">User name</label>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtPassword" ng-class="{errorBorder : loginFormError || frmPass.txtPassword.$dirty == true && frmPass.txtPassword.$invalid == true ,'used': txtPassword.length > 0}" type="password" pattern=".{1,80}" name="txtPassword" id="txtPassword" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : loginFormError || frmPass.txtPassword.$dirty == true && frmPass.txtPassword.$invalid == true }">Current Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input minlength="6" maxlength="100" ng-input-effect-class is-required ng-model="txtNewPassword" ng-class="{errorBorder : loginFormError || frmPass.txtNewPassword.$dirty == true && frmPass.txtNewPassword.$invalid == true ,'used': txtNewPassword.length > 0}" type="password" pattern=".{1,80}" name="txtNewPassword" id="txtNewPassword" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : loginFormError || frmPass.txtNewPassword.$dirty == true && frmPass.txtNewPassword.$invalid == true  }">New Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input compare-to="txtNewPassword" ng-input-effect-class is-required ng-model="txtConfirmNewPassword" ng-class="{errorBorder : loginFormError || frmPass.txtConfirmNewPassword.$dirty == true && frmPass.txtConfirmNewPassword.$invalid == true ,'used': txtConfirmNewPassword.length > 0}" type="password" pattern=".{1,80}" name="txtConfirmNewPassword" id="txtConfirmNewPassword" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : loginFormError || frmPass.txtConfirmNewPassword.$dirty == true && frmPass.txtConfirmNewPassword.$invalid == true }">Confirm New Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" ng-click="changePass(frmPass)" class="btn btn-block btn-invert">Login</button>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}"
                                     class="alert alert-dismissible text-center" ng-show="showMessage == true" role="alert">
                                    <span>{{messageTxt}}</span>
                                </div>
                            </div>
                        </div>

                        <!--<div class="clear2"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <img src="images/logo.png" />
                            </div>
                        </div>
                        <div class="clear2"></div>

                        <div class="row">
                            <div class="col-xs-12 text-center"> V 0.7</div>
                        </div>-->
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1">
                <div class="clear2"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <img src="images/logo.png" />
                    </div>
                </div>
                <div class="clear"></div>

                <div class="row">
                    <div class="col-xs-12 text-center"> V 0.7</div>
                </div>
            </div>
        </div>

    </div>
    <div class="row footer" ui-view="footerView"></div>
</div>

