<div class="row header" ui-view="headerView"></div>
<div class="pageBody pageOrganization">
    <div class="clear"></div>
    <div class="row animated fadeInRight">
        <form name="frmAddProvider" id="frmAddProvider" novalidate confirm-on-exit>
            <div class="col-xs-12">
                <div class="clear2"></div>
                <!-- Row1 Start -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtProviderName" ng-class="{errorBorder : frmAddProvider.txtProviderName.$dirty == true && frmAddProvider.txtProviderName.$invalid == true ,'used': txtProviderName.length > 0}" type="text" pattern=".{1,80}" name="txtProviderName" id="txtProviderName" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtProviderName.$dirty == true && frmAddProvider.txtProviderName.$invalid == true }">Provider Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtProviderAddress" ng-class="{errorBorder : frmAddProvider.txtProviderAddress.$dirty == true && frmAddProvider.txtProviderAddress.$invalid == true ,'used': txtProviderAddress.length > 0}" type="text" pattern=".{1,80}" name="txtProviderAddress" id="txtProviderAddress" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtProviderAddress.$dirty == true && frmAddProvider.txtProviderAddress.$invalid == true }">Provider Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row1 End -->
                <div class="clear2"></div>
                <div class="clear2"></div>
                <!-- Row2 Start -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtPostalCode" ng-class="{errorBorder : frmAddProvider.txtPostalCode.$dirty == true && frmAddProvider.txtPostalCode.$invalid == true ,'used': txtPostalCode.length > 0}" type="number" string-to-number pattern=".{1,80}" id="txtPostalCode" name="txtPostalCode" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtPostalCode.$dirty == true && frmAddProvider.txtPostalCode.$invalid == true }">Postal Code</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required pattern="[0][^\D4]\d{6}$" ng-model="txtPhone" ng-class="{errorBorder : frmAddProvider.txtPhone.$dirty == true && frmAddProvider.txtPhone.$invalid == true ,'used': txtPhone.length > 0}" type="text" pattern=".{1,80}" id="txtPhone" name="txtPhone" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtPhone.$dirty == true && frmAddProvider.txtPhone.$invalid == true }">Phone</label>
                                    <span class="errorFont" ng-show="frmAddProvider.txtPhone.$error.pattern && frmAddProvider.txtPhone.$touched == true">Invalid Syntax ,It should Be 8 characters not start with 04</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row2 End -->
                <div class="clear2"></div>
                <div class="clear2"></div>
                <!-- Row3 Start -->
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required pattern="[0][4]\d{6}$" ng-model="txtMobile" ng-class="{errorBorder : frmAddProvider.txtMobile.$dirty == true && frmAddProvider.txtMobile.$invalid == true ,'used': txtMobile.length > 0}" type="text" pattern=".{1,80}" id="txtMobile" name="txtMobile" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtMobile.$dirty == true && frmAddProvider.txtMobile.$invalid == true }">Mobile</label>
                                    <span class="errorFont" ng-show="frmAddProvider.txtMobile.$error.pattern && frmAddProvider.txtMobile.$touched == true">Invalid Syntax ,It should Be 8 characters start with 04</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label>SMS Notifications</label>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6 checkbox">
                            <switch name="txtSMS" ng-model="txtSMS" on="Yes" off="No" class="wide"></switch>
                        </div>
                    </div>
                </div>
                <!-- Row3 End -->
                <div class="clear2"></div>

                <!-- Row4 Start -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                <div class="group">
                                    <input ng-input-effect-class is-required ng-model="txtEmail" ng-class="{errorBorder : frmAddProvider.txtEmail.$dirty == true && frmAddProvider.txtEmail.$invalid == true ,'used': txtEmail.length > 0}" type="email" pattern="[a-zA-Z0-9_]+(?:\.[A-Za-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?!([a-zA-Z0-9]*\.[a-zA-Z0-9]*\.[a-zA-Z0-9]*\.))(?:[A-Za-z0-9](?:[a-zA-Z0-9-]*[A-Za-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" id="txtEmail" name="txtEmail" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label ng-class="{errorFont : frmAddProvider.txtEmail.$dirty == true && frmAddProvider.txtEmail.$invalid == true }">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row4 End -->
                <div class="clear2"></div>
                <div class="clear2"></div>
                <!-- Row5 Start -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table id="table" class="table table-bordered tblSpeciality">
                                <thead>
                                    <tr>
                                        <th>Specialty Name</th>
                                        <th>Description<span class="glyphicon glyphicon-plus-sign pull-right spnAddRow" ng-click="addSpeciality()"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="spec in speciality">
                                        <td>
                                            <div class="row">
                                                <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                                    <div class="group">
                                                        <input type="text" placeholder="Enter speciality name" pattern=".{1,80}" name="txt1" ng-model="spec.Name" class="txtSpecialityName">
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-xs-11">
                                                <div class="row">
                                                    <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                                        <div class="group">
                                                            <input type="text" placeholder="Enter Description" pattern=".{1,80}" ng-model="spec.Description" name="txt2" class="txtSpecialityDescription">
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="tableicon" ng-click="deleteSpeciality(spec,'speciality')"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Row5 End -->
                <div class="clear2"></div>
                <div class="clear2"></div>
                <!-- Row6 Start -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table id="tablePractice" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Practice Name<span class="glyphicon glyphicon-plus-sign pull-right spnAddRow" ng-click="addPractice()"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pract in practices">
                                        <td>
                                            <div class="col-xs-11">
                                                <div class="row">
                                                    <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                                        <div class="group">
                                                            <input type="text" placeholder="Enter Practice Name" pattern=".{1,80}" ng-model="pract.Description" name="txt3" class="txtPracticeName">
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="tableicon" ng-click="deletePractice(pract,'practice')"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Row6 End -->
                <div class="clear row"></div>
                <!-- Error msg -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                            <span>{{messageTxt}}</span>
                        </div>
                    </div>
                </div>
                <!-- Error msg End-->
            </div>
        </form>
        <div class="clear"></div>
    </div>

    <div class="row footer2">
        <div class="text-left col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-dismiss" type="button" ng-click="cancelProvider()">Dismiss</button>
        </div>
        <div class="text-right col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-invert saveBtn" ng-click="submit(frmAddProvider)" type="submit">Save</button>
        </div>
    </div>
</div>
<!--<div class="row footer" ui-view="footerView"></div>-->