<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9 text-right">
        <input type="text" placeholder="Type to filter" class="input-form txtSearchNotes" id="txtSearchNotes" name="txtSearchNotes" />
    </div>
</div>
<div class="clear2"></div>
<!-- Table Start -->
<div class="table-responsive">
    <table class="table table-bordered tblWhite">
        <thead>
            <tr>
                <th>Date Entered</th>
                <th>Allergy Description</th>
                <th>AllergyType</th>
                <th>Prescribed Therapy</th>
                <th>Status</th>
                <th>Therapist</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass 1</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>Grass</td>
                <td>Plant</td>
                <td>Claratyne</td>
                <td>Lapsed</td>
                <td>Dr.Sneeze</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table End -->

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#allergiesModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Allergy Modal Start -->
<div id="allergiesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Allergy Modal content Start-->
        <div class="modal-content">
            <!-- Allergy Modal Body Start -->
            <div class="modal-body">
                <!-- Allergy Modal Header Start -->
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                <h4 class="text-center">New Allergy</h4>
                <!-- Allergy Modal Header End -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group groupAllergyModal">
                            <input type="text" class="fontBlack" name="txtDateAllergy" pattern=".{1,80}" id="txtDateAllergy" required readonly>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label id="lblDOB">Date Entered</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" id="txtDescription" class="txtDescription" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Allergy Description</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtType" id="txtType" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Allergy Type</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtPrescribedTherapy" id="txtPrescribedTherapy" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Prescribed Therapy</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Status</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtTherapist" id="txtTherapist" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Therapist</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Allergy Modal Body End -->
            <!-- Allergy Modal Footer Start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            <!-- Allergy Modal Footer End -->
        </div>
        <!-- Allergy Modal Content End -->
    </div>
</div>
<!-- Allergy Modal End -->