<div class="row col-xs-12">
    <div class="col-xs-12">
        <canvas id="canvasBloodPressure"></canvas>
    </div>
</div>

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#bloodpressureModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- BloodPressure Modal Start -->
<div id="bloodpressureModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- BloodPressure Modal content Start-->
        <div class="modal-content">
            <!-- BloodPressure Modal Body Start -->
            <div class="modal-body">
                <!-- BloodPressure Modal Header Start -->
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <h4 class="text-center">New Blood Pressure</h4>
                <!-- BloodPressure Modal Header End -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group groupBloodPressureModal">
                            <input type="text" class="fontBlack" name="txtDateBloodPressure" pattern=".{1,80}" id="txtDateBloodPressure" required readonly>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label id="lblDOB">Date/Time Entered</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" id="txtBloodPressure" class="txtBloodPressure" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Blood&nbsp;Pressure(mmHg)</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtBloodPressureNotes" id="txtBloodPressureNotes" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Notes</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BloodPressure Modal Body End -->
            <!-- BloodPressure Modal Footer Start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            <!-- BloodPressure Modal Footer End -->
            <!-- BloodPressure Modal Content End -->
        </div>
    </div>
</div>
<!-- BloodPressure Modal End -->