<div class="tab-pane fade  in active">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel with-nav-tabs innerOptions">
                <div class="panel-heading">
                    <ul class=" nav nav-tabs">
                        <li class="col-xs-1" ng-class="{active:activetab == 'medications'}" ng-click="activetab = 'medications'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.medications">Medications</a>
                        </li>
                        <li class="col-xs-1" ng-class="{active:activetab == 'allergies'}" ng-click="activetab = 'allergies'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.allergies">Allergies</a>
                        </li>
                        <li class="col-xs-1" ng-class="{active:activetab == 'vaccinations'}" ng-click="activetab = 'vaccinations'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.vaccinations">Vaccinations</a>
                        </li>
                        <li class="col-xs-1" ng-class="{active:activetab == 'diagnosis'}" ng-click="activetab = 'diagnosis'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.diagnosis">Diagnosis</a>
                        </li>
                        <li class="col-xs-1" ng-class="{active:activetab == 'laboratory'}" ng-click="activetab = 'laboratory'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.laboratory">Laboratory</a>
                        </li>
                        <li class="col-xs-2" ng-class="{active:activetab == 'followup'}" ng-click="activetab = 'followup'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.followup">Follow-up</a>
                        </li>
                        <li class="col-xs-1" ng-class="{active:activetab == 'documents'}" ng-click="activetab = 'documents'">
                            <a data-toggle="tab" ui-sref="healthrecord.healthnotes.documents">Documents</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="dvTablesContainer tables" id="dvTablesContainer">

    </div>-->

</div>

<div class="col-xs-12 innerSingleTab" ui-view>

</div>
