<div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9  text-right">
        <input type="text" placeholder="Type to filter" class="input-form txtSearchNotes" id="txtSearchNotes" name="txtSearchNotes" />
    </div>
</div>
<div class="clear2"></div>
<!-- Table Start -->
<div class="table-responsive">
    <table class="table table-bordered tblWhite">
        <thead>
            <tr>
                <th>Date&nbsp;Entered</th>
                <th>Notes</th>
                <th>Type</th>
                <th>Status</th>
                <th>Organisation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 Apr 2014</td>
                <td>HbA1c blood tested result:All Ok</td>
                <td>Blood test/Urine test/Stool test/Biopsy</td>
                <td>Pending/Received/Lapsed</td>
                <td>Melbourne Pathology</td>
            </tr>
            <tr>
                <td>1 Apr 2014</td>
                <td>HbA1c blood tested result:All Ok</td>
                <td>Blood test/Urine test/Stool test/Biopsy</td>
                <td>Pending/Received/Lapsed</td>
                <td>Melbourne Pathology</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table End -->

<button class="btn btn-success adjustNewButton" data-toggle="modal" data-target="#laboratoryModal" type="button">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!-- Laboratory Modal Start -->
<div id="laboratoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Laboratory Modal content Start-->
        <div class="modal-content">
            <!-- Laboratory Modal Body Start -->
            <div class="modal-body">
                <!-- Laboratory Modal Header Start -->
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">x</button>
                <h4 class="text-center">New Laboratory</h4>
                <!-- Laboratory Modal Header End -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group groupLaboratoryModal">
                            <input type="text" class="fontBlack" name="txtDateLaboratory" pattern=".{1,80}" id="txtDateLaboratory" required readonly>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label id="lblDOB">Date Entered</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-11 col-sm-11 col-xs-11">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" id="txtNotes" class="txtNotes" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <label>
                            <span class="glyphicon glyphicon-paperclip"></span>
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtType" id="txtType" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Type</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtStatus" id="txtStatus" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Status</label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="group">
                            <input type="text" pattern=".{1,80}" name="txtOrganisation" id="txtOrganisation" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Organisation</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Laboratory Modal Body End -->
            <!-- Laboratory Modal Footer Start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            <!-- Laboratory Modal Footer End -->
        </div>
        <!-- Laboratory Modal Content End -->
    </div>
</div>
<!-- Laboratory Modal End -->