<ul class="sidebar-nav">
    <div class="clear2"></div>
    <li class="sidebar-brand">
        <div class="row">
            <a ui-sref="listorganizations" ng-push-menu="menu">
                <div class="col-xs-6">
                    <h6 class="txtMenuItem">Organisations</h6>
                </div>
                <div class="col-xs-6 text-center">
                    <img src="images/hospital.png" class="imgMenuItem" />
                </div>
            </a>
        </div>
    </li>
    <div class="clear2"></div>
    <li class="sidebar-brand">
        <div class="row">
            <a ui-sref="listproviderssystem" ng-push-menu="menu">
                <div class="col-xs-6">
                    <h6 class="txtMenuItem">Providers</h6>
                </div>
                <div class="col-xs-6 text-center">
                    <img src="images/2.png" class="imgMenuItem" />
                </div>
            </a>
        </div>
    </li>

</ul>